In [376]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/agricuture-crops-production-in-india/datafile (2).csv
/kaggle/input/agricuture-crops-production-in-india/datafile.csv
/kaggle/input/agricuture-crops-production-in-india/produce.csv
/kaggle/input/agricuture-crops-production-in-india/datafile (3).csv
/kaggle/input/agricuture-crops-production-in-india/datafile (1).csv

In [377]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

In [378]:
import warnings
warnings.filterwarnings('ignore')

In [379]:
df=pd.read_csv('/kaggle/input/agricuture-crops-production-in-india/datafile (1).csv')

In [380]:
df.head()

,Crop,State,Cost of Cultivation (`/Hectare) A2+FL,Cost of Cultivation (`/Hectare) C2,Cost of Production (`/Quintal) C2,Yield (Quintal/ Hectare)
0,ARHAR,Uttar Pradesh,9794.05,23076.74,1941.55,9.83
1,ARHAR,Karnataka,10593.15,16528.68,2172.46,7.47
2,ARHAR,Gujarat,13468.82,19551.90,1898.30,9.59
3,ARHAR,Andhra Pradesh,17051.66,24171.65,3670.54,6.42
4,ARHAR,Maharashtra,17130.55,25270.26,2775.80,8.72

In [381]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 6 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Crop                                   49 non-null     object
 1   State                                  49 non-null     object
 2   Cost of Cultivation (`/Hectare) A2+FL  49 non-null     float64
 3   Cost of Cultivation (`/Hectare) C2     49 non-null     float64
 4   Cost of Production (`/Quintal) C2      49 non-null     float64
 5   Yield (Quintal/ Hectare)               49 non-null     float64
dtypes: float64(4), object(2)
memory usage: 2.4+ KB

In [382]:
df.describe()

,Cost of Cultivation (`/Hectare) A2+FL,Cost of Cultivation (`/Hectare) C2,Cost of Production (`/Quintal) C2,Yield (Quintal/ Hectare)
count,49.000000,49.000000,49.000000,49.000000
mean,20363.537347,31364.666735,1620.537755,98.086735
std,13561.435306,20095.783569,1104.990472,245.293123
min,5483.540000,7868.640000,85.790000,1.320000
25%,12774.410000,19259.840000,732.620000,9.590000
50%,17022.000000,25909.050000,1595.560000,13.700000
75%,24731.060000,35423.480000,2228.970000,36.610000
max,66335.060000,91442.630000,5777.480000,1015.450000

In [383]:
df.columns

Index(['Crop', 'State', 'Cost of Cultivation (`/Hectare) A2+FL',
       'Cost of Cultivation (`/Hectare) C2',
       'Cost of Production (`/Quintal) C2', 'Yield (Quintal/ Hectare) '],
      dtype='object')

In [384]:
cols=['Crop', 'State']

In [385]:
for i in cols:
    print(i +': ')
    print(df[i].unique())

Crop:
['ARHAR' 'COTTON' 'GRAM' 'GROUNDNUT' 'MAIZE' 'MOONG' 'PADDY'
 'RAPESEED AND MUSTARD' 'SUGARCANE' 'WHEAT']
State:
['Uttar Pradesh' 'Karnataka' 'Gujarat' 'Andhra Pradesh' 'Maharashtra'
 'Punjab' 'Haryana' 'Rajasthan' 'Madhya Pradesh' 'Tamil Nadu' 'Bihar'
 'Orissa' 'West Bengal']

In [386]:
df1=df.copy()

In [387]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [388]:
for i in cols:
    df1[i]=le.fit_transform(df1[i])

In [389]:
df1.head()

,Crop,State,Cost of Cultivation (`/Hectare) A2+FL,Cost of Cultivation (`/Hectare) C2,Cost of Production (`/Quintal) C2,Yield (Quintal/ Hectare)
0,0,11,9794.05,23076.74,1941.55,9.83
1,0,4,10593.15,16528.68,2172.46,7.47
2,0,2,13468.82,19551.90,1898.30,9.59
3,0,0,17051.66,24171.65,3670.54,6.42
4,0,6,17130.55,25270.26,2775.80,8.72

In [390]:
from sklearn.model_selection import train_test_split

In [391]:
x=df1.iloc[:,0:5]

In [392]:
y=df1.iloc[:,-1:]

In [393]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.3,shuffle=True,random_state=42)

In [394]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((34, 5), (15, 5), (34, 1), (15, 1))

In [395]:
from sklearn.preprocessing import StandardScaler
sr=StandardScaler()

In [396]:
x_test.head()

,Crop,State,Cost of Cultivation (`/Hectare) A2+FL,Cost of Cultivation (`/Hectare) C2,Cost of Production (`/Quintal) C2
13,2,6,12985.95,18679.33,2277.68
45,9,5,12464.40,22489.75,810.25
47,9,11,18979.38,31902.74,769.84
44,8,10,66335.06,89025.27,85.79
17,3,10,22507.86,30393.66,2358.00

In [397]:
sc_cols=['Cost of Cultivation (`/Hectare) A2+FL',
       'Cost of Cultivation (`/Hectare) C2',
       'Cost of Production (`/Quintal) C2']
for j in sc_cols:
    x_train[j]=sr.fit_transform(x_train[[j]])
    x_test[j]=sr.transform(x_test[[j]])

In [398]:
x_test

,Crop,State,Cost of Cultivation (`/Hectare) A2+FL,Cost of Cultivation (`/Hectare) C2,Cost of Production (`/Quintal) C2
13,2,6,-0.580167,-0.683810,1.056318
45,9,5,-0.620506,-0.493622,-0.699425
47,9,11,-0.116609,-0.023797,-0.747775
44,8,10,3.546086,2.827330,-1.566223
17,3,10,0.156299,-0.099118,1.152419
27,5,4,-1.086410,-1.223398,5.243740
26,5,9,-1.104695,-1.158664,0.806243
25,5,7,-1.160436,-1.203516,1.458884
31,6,7,-0.232728,-0.322956,-0.813341
19,3,6,0.432480,0.015171,2.168645
12,2,11,-0.591994,-0.537112,0.583710
4,0,6,-0.259606,-0.354840,1.652306
34,6,0,0.709851,0.702303,-0.723773
8,1,2,0.706081,0.483698,0.938561
3,0,0,-0.265707,-0.409674,2.722840

In [399]:
y_train.values

array([[ 24.39],
       [448.89],
       [986.21],
       [ 39.83],
       [  4.71],
       [ 19.9 ],
       [ 11.97],
       [ 42.68],
       [ 67.41],
       [ 36.61],
       [  9.83],
       [744.01],
       [ 39.04],
       [ 12.69],
       [  6.7 ],
       [ 10.29],
       [ 13.54],
       [  7.47],
       [ 31.1 ],
       [  9.59],
       [ 13.57],
       [ 12.94],
       [ 13.7 ],
       [ 19.94],
       [  6.83],
       [ 23.56],
       [ 13.45],
       [ 37.19],
       [ 42.95],
       [ 17.83],
       [757.92],
       [ 16.69],
       [  5.9 ],
       [ 11.61]])

In [400]:
from sklearn.svm import SVR
svr=SVR()
model=svr.fit(x_train,y_train)

In [401]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(n_estimators=90,max_depth=10, random_state=0)
rfg=regr.fit(x_train, y_train)

In [402]:
x_test

,Crop,State,Cost of Cultivation (`/Hectare) A2+FL,Cost of Cultivation (`/Hectare) C2,Cost of Production (`/Quintal) C2
13,2,6,-0.580167,-0.683810,1.056318
45,9,5,-0.620506,-0.493622,-0.699425
47,9,11,-0.116609,-0.023797,-0.747775
44,8,10,3.546086,2.827330,-1.566223
17,3,10,0.156299,-0.099118,1.152419
27,5,4,-1.086410,-1.223398,5.243740
26,5,9,-1.104695,-1.158664,0.806243
25,5,7,-1.160436,-1.203516,1.458884
31,6,7,-0.232728,-0.322956,-0.813341
19,3,6,0.432480,0.015171,2.168645
12,2,11,-0.591994,-0.537112,0.583710
4,0,6,-0.259606,-0.354840,1.652306
34,6,0,0.709851,0.702303,-0.723773
8,1,2,0.706081,0.483698,0.938561
3,0,0,-0.265707,-0.409674,2.722840

In [403]:
from sklearn.metrics import r2_score

In [404]:
y_pred=rfg.predict(x_test)

In [407]:
r2_score(y_test, y_pred)

0.9125475923281127